<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/productdetails.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Open+Sans:wght@300;400&family=Tektur&display=swap" rel="stylesheet">
</head>
</head>
<body>

    <div class="details">
        <div class="product-details">
    
    <h4>{{product.name}}</h4>
    <img src="{{product.image.url}}"/>
    <p>{{product.description}}</p>
    <span>{{product.price}}</span>
 <button> <a href="{%url 'product_details_view' id=product.id%}"></a>Add to cart</button>
   </a>
</div>
</div>

</body>
</html>